html {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
    text-align: center;
}

.link {
    color: aquamarine;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

h2 {
    font-family: Verdana;
    font-weight: normal;
    font-size: 42px;
    color: white;
    text-align: center;
}

p {
    font-family: Verdana;
    font-weight: normal;
    font-size: 21px;
    color: gray;
    text-align: center;
}

footer {
    color: white;
    text-align: right;
}